.smallSingleComponent {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    cursor: pointer;
}

.smallSingleComponent:hover {
    background-color: #e4e4e4;
}

.leftElements {
    display: flex;
    flex-direction: row;
}

.rightElements {
    display: flex;
    flex-direction: row;
}

.name {
    align-self: start;
}

.phone {
    align-self: start;
    font-size: x-small;
}

.extension {
    margin-left: auto;
    padding-top: 0.4rem;
}