.allstaff {
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.title {
  display: flex;
  margin-right: auto;
  margin-top: 0.3rem;
  font-weight: 600;
  color: var(--text-primary);
}

.searchInput {
  background: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  border: 1px solid black;
}