.newcomplaint{
    margin-top: 2.4rem;
}
.newcomplaint h2{
    font-weight: 600;
}
.createStaffform {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-bottom: 1rem;
    align-items: center;
    overflow: auto;
    max-height: 35rem;
}

.behalfField {
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;
    margin-left: 20vh;
}
.behalftoogle{
    display: flex;
}

.behalf {
    display: grid;
    grid-template-columns: 100px 600px;
    margin-bottom: 1rem;
} 

/*  toggle btn */

.behalf  label {
	position: relative;
	cursor: pointer;
	display :block;
	width: 50px;
	height: 30px;
	background: #cccccc;
	border-radius: 50px;
	transition: 300ms linear;
}

.behalf  label:before {
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	background: #ffffff;
	border-radius: 50%;
	transition: left 300ms linear;
}

.behalf input:checked + label {
	background: #000000;
}

.behalf  input:checked + label:before {
	left: 23px;
}
/* end toggle btn */

/* discription */

.deptTik {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
}



.deptSelect {

    background: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;

}
/* end discription */

/* priority and request type */
.priReq{
    display: flex;
    gap:25% ;

}
.priority{
    display: grid;
    grid-template-columns: 234px;
    margin-bottom: 1rem;
}

.priority  span{
    margin-bottom: 0.5rem;
}

.reqType{
    display: grid;
    grid-template-columns: 207px;
    margin-bottom: 1rem;
}

.reqType  span{
    margin-bottom: 0.5rem;
}

.priSelect {
    background: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 2rem;

}

.rtypeSelect {
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;

}

/* end priority and request type */

/* subject */

.subject {
    display: grid;
    grid-template-columns: 623px;
    margin-bottom: 1rem;
    gap: 0.5rem;
}


.subInput {
    flex: 1;
    gap: 2rem;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;
}
/* end subject */

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 1rem;
}


.attachment {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.6rem;
    margin-bottom: 1rem;
}

.attachInput {
    flex: 1;
    gap: 2rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;

}

.buttonForm {
    flex: 1;
    gap: 2rem;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}