
.dropup {
    float: right;
    position: relative;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.dropbtn {
    background-color: var(--color-primary);
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    border-radius:0.5rem;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropupcontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    bottom: 50px;
    z-index: 1;
    margin-left: 0.2rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 3px 3px, rgba(9, 30, 66, 0.13) 0px 0px 3px 3px;
  }
  
  .dropupcontent li {
    color: black;
    padding: 12px ;
    text-decoration: none;
    display: block;
  }
  
  .dropupcontent li:hover {background-color: var(--color-primary); color: white;}
  
  .dropup:hover .dropupcontent {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    background-color: var(--color-primary);
  }
