/* search filtes */
.searchInput {
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;
    height: 3rem;
    margin-top: 1rem;
}

.optionSearchBox {
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;
    height: 3rem;
    margin-top: 1rem;
}

.searchButton {
    display: inline-block;
    margin-left: 0.5rem;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    background-color: var(--color-primary);
    cursor: pointer;
    white-space: nowrap;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.search {
    display: flex;
}

.searchfiltering {
    display: flex;
    margin-right: auto;
}

.datapage {
    margin-top: 0.5rem;
}

/* START REQUESTS Section */

.requests h2 {
    margin-bottom: 0.8rem;
}

.tikInfo {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-bottom: 0.3rem;
    align-items: center;
}

main .tikInfo:hover {
    cursor: pointer;
    box-shadow: none;
}

main .tikHead {
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 2rem;
}

main .tikTitle {
    font-size: medium;
}

main .date {
    margin-left: auto;
    font-size: small;
}

main .tikMsg p {
    width: 35rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.5rem;
}

main .tikOther {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    margin-top: 1.2rem;
}

.tikId {
    border-radius: var(--border-radius-2);
    padding: 0 2%;
    cursor: pointer;
    margin: 0px;
    font-size: 1rem;
    color: white;
    background: #5A5A5A;
}

.tikStatus {
    border-radius: var(--border-radius-2);
    padding: 0 2%;
    cursor: pointer;
    margin: 0px;
    font-size: 1rem;
    color: white;
}

.tikAssigned {
    font-size: larger;
    font-weight: 500;
    margin-left: auto;
    margin-bottom: 0rem;
}

main .tikPri {
    border: 1px solid;
    border-radius: var(--border-radius-2);
    padding: 0 2%;
    cursor: pointer;
    margin: 0px;
    color: white;
    font-size: 1rem;
}