.detail {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-top: 1rem;

}


.myform label {
    font-size: large;
}

.myform input {
    font-size: medium;
    border: 0.5px solid black;
    border-radius: 0.2rem;
}

.myform p {
    font-size: medium;
    border: 0.5px solid black;
    border-radius: 0.2rem;
}

.deptik {
    display: grid;
    grid-template-columns: 50vh;
    margin-bottom: 1rem;
}

.tags {
    min-width: 18rem;
    max-width: 12rem;
    border: 0.5px solid black;
    border-radius: 0.2rem;
    height: fit-content;
}

.tag {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 2px;
    border-radius: 0.3rem;
    margin-left: 0.1rem;
}

.departmentParent {
    display: flex;
    flex-flow: row wrap;
    column-gap: 15px;
    padding: 5px;
}

.detailsBtns {
    display: flex;
}

.updateBtn {
    background-color: #7380ec;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    margin-left: 1rem;
}

.deleteBtn {
    background-color: #ff7782;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}