.detail {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    overflow: auto;
    max-height: 90vh;
}


.myform label {
    font-size: large;
}

.myform input {
    font-size: medium;
    font-size: medium;
    background: white;
    padding: 10px;
    border: none;
    color: black;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;
    margin-bottom: 0.2rem;
}

.myform p {
    font-size: medium;
}

.idDetails {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;

}

.updateDetails {
    display: grid;
    grid-template-columns: 30vh 30vh;
    margin-bottom: 1rem;
}

.deptik {
    display: grid;
    grid-template-columns: 30vh 30vh;
    margin-bottom: 1rem;
}

.tags {
    min-width: 18rem;
    max-width: 12rem;
    border: 0.5px solid black;
    border-radius: 0.2rem;
    height: fit-content;
}

.tag {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 2px;
    border-radius: 0.3rem;
    margin-left: 0.1rem;
}

.departmentParent {
    display: flex;
    flex-flow: row wrap;
    column-gap: 15px;
    padding: 5px;
}

.createForm {
    display: grid;
    margin-bottom: 1rem;
}

.input {
    background: white;
    padding: 10px;
    border: none;
    color: black;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;
}

.detailsBtns {
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
}

.updateBtn {
    background-color: var(--subbutton-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    margin-left: 1rem;
}

.deleteBtn {
    background-color: var(--color-primary);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}