.mainTitle {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 2.5rem;
    }
    .mainTitle h2{
      font-weight:600 ;
      margin-top: 0.3rem;
    }
   