.noData {
    font-weight: 700;
    font-size: xx-large;
    text-shadow: .5px .5px .5px gray;
    font-family: "Bahnschrift", Times, serif;
}

.tableParent {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.tableParent .tableRow {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.tableParent .tableHead,
.tableParent .tableData {
    padding: .625em;
    text-align: center;
}

.tableParent .tableHead {
    color: white;
    background-color: #2e2e2e;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .tableParent {
        border: 0;
    }

    .tableParent .tableHeader {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .tableParent .tableRow {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .tableParent .tableData {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .tableParent .tableData::before {
        /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .tableParent .tableData:last-child {
        border-bottom: 0;
    }
}

.tableField {
    cursor: pointer;
}

.tableField:hover {
    background-color: #cccccc;
}

.tableField:active {
    background-color: #919191;
    color: white;
}

.parentCheckbox {
    cursor: pointer;
}

.childCheckbox {
    cursor: pointer;
}

.searchInput {
    margin-left: -5rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    background: #f9fafa;
    border: 1px solid #b5bdc4;
    font-size: 16px;
    height: 35px;
    width: 20rem;
    line-height: 24px;
    padding: 7px 8px;
    color: #08090a;
    box-shadow: none;
    outline-color: transparent;
}

.searchInput:focus {
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;
}

.multiDeleteButton {
    display: flex;
    position: absolute;
    margin-top: 0.6rem;
    margin-left: 1rem;
}

.searchButton {
    cursor: pointer;
    margin-top: -0.1rem;
    background-color: #b4b4b4;
    color: black;
    font-weight: 500;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 0.1rem solid gray;
}

.searchButton:focus {
    background-color: #d8d8d8;
}

.searchButton:active {
    border: 0.1rem solid #292929;
}

.optionSearchBox {
    margin-left: -5rem;
    width: 20rem;
    padding: 0.287rem 0.5rem;
    border-width: 1px;
    border-color: transparent;
    background-color: #f9fafa;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    outline-color: transparent;
    border: 0.1rem solid gray;
}

.optionSearchBox:focus {
    outline: none;
    border: 0.1rem solid #292929;
}