.largeTable {
    border-radius: 0.5rem;
}

.homeNoData {
    font-weight: 700;
    font-size: xx-large;
    text-shadow: .5px .5px .5px gray;
    font-family: "Bahnschrift", Times, serif;
}

.headerStyle {
    background-color: #bbbbbb;
}