.fullScreen {
    background-color: #ececec;
    height: 100vh;
    display: flex;
}

.sidebar {
    background-color: #434396;
    z-index: 10;
    width: 35vh;
    height: 100vh;
    border-radius: 0rem 1rem 1rem 0rem;
    box-shadow: 1px 2px 2px;
    position: relative;
}

.heading {
    color: white;
    font-size: x-large;
    font-weight: 500;
    font-family: "Bahnschrift", Times, serif;
    padding-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 1rem;
}

.row {
    cursor: pointer;
    flex-grow: 1;
    padding: 10px;
    text-align: left;
    color: white;
    font-size: large;
    font-weight: 500;
    padding-top: 1.35rem;
    padding-bottom: 1.35rem;
    margin-top: 0.2rem;
    margin-inline: 0.3rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    display: flex;
}

.rowColorDefault {
    background-color: #6767c7;
}

.rowColorActive {
    background-color: #131350;
}

.row:hover {
    background-color: #2c2c79;
}

.icon {
    margin-top: -0.2rem;
}

.logoutButton {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 4rem;
    margin-bottom: 1rem;
    font-size: large;
    font-weight: 500;
    font-family: "Bahnschrift", Times, serif;
}

.logoutIcon {
    margin-top: 0.2rem;
}

.logoutText {
    margin-top: 0.3rem;
}

.departmentMain {
    width: fit-content;
}

.departmentSelect {
    cursor: pointer;
    display: flex;
    background-color: #6767c7;
    width: fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
    color: white;
    font-size: large;
    font-weight: 500;
    margin-top: 1rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.departmentList {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: fit-content;
    max-width: 13rem;
    background-color: #9a9aec;
    padding: 0.5rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.singleDepartment {
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
    font-size: small;
    font-weight: 500;
    font-family: "Bahnschrift", Times, serif;
    background-color: #a6a6ec;
}

.singleDepartment:hover {
    background-color: #5757e9;
}

.mainData {
    width: 160vh;
}