/* .wrapper {
  display: grid;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: 15% auto;
} */
/* .wrapper{
  height: 86vh;
} */

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0.0rem;
  z-index: 8;
}

.mainScreen {
  height: 86vh;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}

.sidemenu {
  height: 86vh;
  padding-top: 2rem;
  padding-bottom: auto;
  border-right: 0.5px solid #dbdbdb;
}



.sidemenu h3 {
  margin-top: 0.5rem;
}

/* sidemenu */




/* End logo */

/* START sidemenu */
/* .sidemenu {
    display: flex;
    flex-direction: column;
    height: 82vh;
    position: relative;
    top: 2rem;
  } */

/* .sidemenu h3 {
    font-weight: 500;
  }

  
   .sidemenu a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
    
  } */

.sidemenu a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  text-decoration: none;
}

.sidemenu a:hover {
  display: flex;
  color: var(--sidebar-select);
  margin-left: 0.2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  text-decoration: none;
  background-color: var(--hover-sidebar);
  color: #fff;
}

.sidemenu .active {
  background: var(--hover-color);
  color: var(--text-primary);
  margin-left: 0;
  text-decoration: none;
}

.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

/* Request sidemenu */

.menu {
  display: grid;
  grid-template-rows: 40px max-content;
  gap: 10px;
}


.dropItem {
  background-color: white;
  color: #444;
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  border-radius: 5px;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
}

.listItem {
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.4s, transform 0.4s var(--delay);
  transform: translateX(-100%);
  user-select: none;
  cursor: pointer;
}

.listItem:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.toggle:focus::after {
  transform: rotate(225deg);
}

.toggle:focus~.dropItem {
  height: 160px;
}

.toggle:focus~.dropItem .listItem {
  transform: translateX(0);
}


/* Request sidemenu */

aside .active {
  color: var(--color-primary);
  margin-left: calc(1rem - 6px);
}

.rowColorDefault {
  color: var(--color-primary);
}

aside .sidemenu a:hover span {
  margin-left: 1rem;
}

aside .sidemenu .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

aside .req-fields {
  font-size: 500;
}

.counter {
  padding: 0.8rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 8rem;
  margin-left: auto;
  margin-right: 0.5rem;
  height: 1.1rem;
  width: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* END sidemenu */

/* END ASIDE */
/* Media query for 6-inch display mobile devices */
@media (min-width: 320px) and (max-width: 767px) {

  /* Your CSS styles for 6-inch display mobiles here */
  .sidemenu h3 {
    display: none;
  }

  .sidemenu svg {
    display: flex;
    margin-left: 0;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
  }

}