.nav {
  display: flex;
  gap: 4rem;
  background-color: white;
  height: 14vh;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
  border-radius: 0.6rem;
  box-shadow: 0 8px 10px -9px;
}

.logo {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 0.8rem;
  margin-left: 2rem;

}

.logo img {
/* width: 10rem;
    height: 6rem; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  height: 100%;
  width: 100%;
}

.adminDept {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.adminDept h3 {
  margin-left: 1rem;
  margin-top: 2rem;
}

.departmentSelection {
  margin-right: auto;
}

.profile {
  display: flex;
  gap: 1rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.profile svg {
  margin-top: 1.2rem;
}

.role {
  margin-top: 0.3rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav {
    display: flex;
    background-color: white;
    gap: 2rem ;
    height: 14vh;
    flex-direction: row;
    justify-content: flex-end;
    width: auto;
    border-radius: 0.6rem;
    box-shadow: 0 8px 10px -9px;
  }
  .adminDept h3 {
    display: none;
  }
}