.buttonsSection {
  display: flex;
}

main .filterButtons {
  display: flex;
  padding: 15px 0 10px;
  margin-right: auto;
}

.infoBtn{
  display: flex;
  gap: 0.5rem;
}

.button {
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  border-radius: 100px;
  font-family: inherit;
  appearance: none;
  background: none;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  outline: none;
  opacity: 0.4;
  border: none;
  color: var(--color-dark);
}

.button:hover,
.button.active {
  opacity: 1;
}

.filter {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 1.5rem;
  background: var(--color-background);
}


.tikReqbtn {
  display: flex;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  border-radius: 1rem;
  font-family: inherit;
  appearance: none;
  background: none;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  border: 2px solid var(--color-primary);
  color: var(--color-dark);
  height: 3.5rem;
  margin-top: 0.6rem;
}


.tikReqbtn {
  display: flex;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  border-radius: 1rem;
  font-family: inherit;
  appearance: none;
  background: none;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  border: 2px solid var(--color-primary);
  color: var(--color-dark);
  height: 3.5rem;
  margin-top: 0.6rem;
}
main .btnName {
  margin-top: 0.2rem;
}