.allstaff{
  display: grid;
  grid-template-columns: 52% 30% 20%;
 margin-bottom: 0.5rem;
}
.allstaff h2{
margin-top: 0.3rem;
}

.searchInput{
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;
  }
  .optionSearchBox{
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid black;
  }
  .searchButton{
    display: inline-block;
      margin-left: 0.5rem;
      border: 1px solid gray;
      border-radius: 4px;
      padding: 10px 30px 10px 20px;
      background-color: #7380ec;
      cursor: pointer;
      white-space: nowrap;
      color: white;
      width: 10rem;
  }
  
  .staffrequestform{
    margin-top: 2.4rem;
  }