
/* START REQUESTS Section */
main .mainTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3.5rem;
  }
  
  main .tikReqBtn {
    display: flex;
    gap: 0.5rem;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;
    border-radius: 1rem;
    font-family: inherit;
    appearance: none;
    background: none;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    border: 2px solid var(--color-primary);
    color: var(--color-dark);
  }
  
  main .btnName {
    margin-top: 0.2rem;
  }
  
  
  
  main .filterButtons {
    display: flex;
    padding: 15px 0 10px;
  }
  
  .button {
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;
    border-radius: 100px;
    font-family: inherit;
    appearance: none;
    background: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    outline: none;
    opacity: 0.4;
    border: none;
    color: var(--color-dark);
  }
  
  .button:hover,
  .button.active {
    opacity: 1;
  }

  
  
  main .filter {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-top: 1.5rem;
    background: var(--color-background);
  }
  
  
  
  main .requests {
    margin-top: 1rem;
  }
  
  main .requests h2 {
    margin-bottom: 0.8rem;
  }
  
  main .tikInfo {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-bottom: 1rem;
    align-items: center;
  }
  
  main .tikInfo:hover {
    cursor: pointer;
    box-shadow: none;
  }
  
  main .tikHead {
    display: flex;
    align-items: flex-start;
    position: relative;
    gap:2rem;
  }
  
  main .tikTitle {
    font-size: medium;
  }

  main .date{
    margin-left: auto;
    font-size: small;
  }
  
  main .tikMsg p {
    width: 35rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.5rem;
  }
  
  main .tikOther {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    margin-top: 1.2rem;
  }
  
  main .tikId {
    border: 1px solid;
    border-radius: var(--border-radius-2);
    padding: 0 2%;
    cursor: pointer;
    margin: 0px;
    font-size: 1rem;
    color: var(--color-dark);
  }
  
  main .tikPri {
    border: 1px solid;
    border-radius: var(--border-radius-2);
    padding: 0 2%;
    cursor: pointer;
    margin: 0px;
    color: white;
    font-size: 1rem;
  }

 