.reqdetails {
    margin-top: 2.5rem;
}

.header {
    display: flex;
    gap: 1rem;
}

.header svg {
    margin-top: 0.2rem;
    cursor: pointer;
}

.header h2 {
    font-weight: 600;
    color: var(--text-primary);
}


.detail {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.myform label {
    font-size: medium;
    margin-top: 0.5rem;
}

.myform p {
    font-size: small;
}


.idlab {
    margin-left: 10rem;
}

/* details */
.idDetails {
    display: grid;
    grid-template-columns: 25% 75%;
}

.subjectDetails {
    display: grid;
    grid-template-columns: 25% 75%;
}

.description {
    display: grid;
    grid-template-columns: 25% 75%;
}

.deptper {
    display: grid;
    grid-template-columns: 50% 50%;
}

.department {
    display: grid;
    grid-template-columns: 50% 50%;
}

.priorityDetails {
    display: grid;
    grid-template-columns: 40% 60%;
}

.reqsta {
    display: grid;
    grid-template-columns: 50% 50%;

}

.ComplaintType {
    display: grid;
    grid-template-columns: 50% 50%;
}

.status {
    display: grid;
    grid-template-columns: 40% 60%;
}

.behalf {
    display: grid;
    grid-template-columns: 25% 75%;
}

.techName {
    display: grid;
    grid-template-columns: 25% 75%;
}

.approval {
    display: grid;
    grid-template-columns: 25% 75%;
}

.date {

    display: grid;
    grid-template-columns: 25% 75%;

}

.attachment {
    display: grid;
    grid-template-columns: 25% 75%;
}

/* buttons */
.id-details p {
    background: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin-right: 39rem;
    font-size: medium;
    margin-top: -0.5rem;
    border: 1px solid black;

}

.complaintAssingBtn {
    flex: 1;
    gap: 2rem;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--color-primary);
    color: white;
}

.complaintDetailsp {
    background: white;
    padding: 10px;
    border: none;
    font-size: 1em;
    align-items: center;


}

.tikPri {
    border: 1px solid;
    border-radius: var(--border-radius-2);
    padding: 0 2%;
    cursor: pointer;
    margin: 0px;
    color: white;
    font-size: 1rem;
}

.buttonForm {
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    width: 10rem;
}