.largeTable {
    border-radius: 0.5rem;
}

.trashButtons {
    margin-top: 5px;
}

.restoreAllButton {
    background-color: lightgoldenrodyellow;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px gray;
    transition: all .5s ease-in-out;
    margin-right: 10px;
}

.restoreAllButton:hover {
    background-color: #ffff5d;
}

.restoreAllButton:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.restoreAllButton:active {
    background-color: yellow;
    color: black;
    box-shadow: 1px 1px 1px 1px gray;
    transition-duration: 0.2s;
    transform: translateX(0px) translateY(2px);
}

.deleteAllButton {
    background-color: #ffacac;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px gray;
    transition: all .5s ease-in-out;
}

.deleteAllButton:hover {
    background-color: #ff6868;
}

.deleteAllButton:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 #007bff00;
}

.deleteAllButton:active {
    background-color: red;
    color: black;
    box-shadow: 1px 1px 1px 1px gray;
    transition-duration: 0.2s;
    transform: translateX(0px) translateY(2px);
}

.trashNoData {
    font-weight: 700;
    font-size: xx-large;
    text-shadow: .5px .5px .5px gray;
    font-family: "Bahnschrift", Times, serif;
}